<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on

#    RewriteCond %{HTTP_HOST} !^$
#    RewriteCond %{HTTP_HOST} !^scf\. [NC]
#    RewriteCond %{HTTPS}s ^on(s)|
#    RewriteRule ^ http%1://scf.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#    RewriteBase /aztlan.com.ar/aztlan_dashboard/
    RewriteBase /aztlan.com.ar/aztlan_dashboard/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?$1 [L]
</IfModule>